.elegance-landscaping-content img 
	{
	float: left;
	margin-right: 50px;
	margin-left: 0px;
	margin-bottom: 35px;
	}


body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 18px;
	background-color: #006633;
}
.elegance-landscaping-content {
	background-color: #006600;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 25px;
}
.center.wrapper {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}
td {
	background-color: #669933;
	text-align: left;
	vertical-align: top;
}
.elegance-landscaping-content p {
	padding-right: 0px;
	line-height: 30px;
}
